# copy this file to .env.development for gatsby develop and .env.production for gatsby build
# changing any values to match your own
CONTENTSTACK_API_KEY='yourapikey'
CONTENTSTACK_DELIVERY_TOKEN='yourdeliverytoken'
CONTENTSTACK_ENVIRONMENT='yourenvironment'
